


/* Fonts */
@font-face {
    font-family: Chillax;
    src: url(fonts/Chillax_Complete/Fonts/OTF/Chillax-Regular.otf);
}

@font-face {
    font-family: ChillaxM;
    src: url(fonts/Chillax_Complete/Fonts/OTF/Chillax-Medium.otf);
}

@font-face {
    font-family: ChillaxS;
    src: url(fonts/Chillax_Complete/Fonts/OTF/Chillax-Semibold.otf);
}

@font-face {
    font-family: Bosch;
    src: url(fonts/Bosch-Display-Font/OTF-File/Bosch.otf);
}

/* Fonts */










/* base CSS */
body {
    margin: 0px;
    background-color: #33312c;
    height: 120vh;
    scroll-margin-block: 10px;
    scroll-margin-block: 1em 0.5em;
}

.container {
    display: flex;
    height: 100vh;
    justify-content: center;
}
/* base CSS */












/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 17px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rosybrown;
    border-radius: 10px;
}

/* scrollbar */




/* Début Navbar */
header {
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    overflow: visible;
}

.navbar {
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
}

.container-menu {
    padding: 0;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    height: 4rem;
    list-style: none;
}

.btn-link-nav {
    font-family: "ChillaxM";
    font-size: 25px;
    text-decoration: none;
    color: #FFFDFA;
}
/* Fin Navbar */













/* Début Navbar Active */
.menu-scroll {
    animation: menu-active 0.3s;
    animation-direction: normal;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes menu-active {
    0% {
        gap: 4rem;
        background-color: transparent;
    }

    50% {
        gap: 4rem;
        background-color: transparent;
    }

    90% {
        margin-top: 3rem;
        border-radius: 50px;
        background-color: rosybrown;
    }

    100% {
        margin-top: 3rem;
        width: 37rem;
        border-radius: 50px;
        gap: 2rem;
        background-color: rosybrown;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
}
/* Fin Navbar Active */






/* Début Navbar Reset */
.menu-reset {
    animation: menu-reset 0.3s;
    animation-direction: normal;
    animation-timing-function: ease-in;
    animation-fill-mode: backwards;
}


@keyframes menu-reset {
    0% {
        margin-top: 3rem;
        width: 37rem;
        border-radius: 50px;
        gap: 2rem;
        background-color: rosybrown;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    50% {
        margin-top: 3rem;
        border-radius: 50px;
        background-color: transparent;

    }

    90% {
        gap: 4rem;
        background-color: transparent;
    }

    100% {

        gap: 4rem;
        background-color: transparent;
    }
}
/* Fin Navbar Reset */







/* Début Home */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: bosch;
    color: white;
}

.title-home {
    font-size: 80px;
    letter-spacing: 6px;
}

/* Fin Home */





/* Debut Presentation */
.presentation {
    color: whitesmoke;
    background-color: #b9b09a;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13rem;
}

.photo {
    width: 300px;
    border-radius: 20px;
}

.text {
    height: fit-content;
    width: 40rem;
    font-size: 1.6rem;
    font-family: ChillaxM;
}
/* Fin Presentation */