@font-face {
    font-family: Chillax;
    src: url(fonts/Chillax_Complete/Fonts/OTF/Chillax-Regular.otf);
}

@font-face {
    font-family: ChillaxM;
    src: url(fonts/Chillax_Complete/Fonts/OTF/Chillax-Medium.otf);
}

@font-face {
    font-family: ChillaxS;
    src: url(fonts/Chillax_Complete/Fonts/OTF/Chillax-Semibold.otf);
}

body {
    margin: 0px;
    background-color: #DDD0C8;
    height: 120vh;
}





header {
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    overflow: visible;
}

/* Début Navbar */
.navbar {
    overflow: visible;
    margin: 0 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
}

.container-name {
    padding-right: 3rem;
    display: flex;
    align-items: center;
    height: 4rem;
}

.name {
    width: max-content;
    font-family: "ChillaxS";
    font-size: 30px;
    text-decoration: none;
    color: #2c2010;
}

.container-menu {
    padding: 0;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7rem;
    height: 4rem;
    list-style: none;
}

.btn-link {
    font-family: "ChillaxM";
    font-size: 25px;
    text-decoration: none;
    color: #2c2010;
}

/* Fin Navbar */

/* Début Navbar Active */
.nav-scroll {
    animation: scroll 0.8s ease-in-out forwards;
}

@keyframes scroll {

    0% {
        opacity: 1;
        transform: scaleX(1);
    }

    25% {
        opacity: 0.7;
    }

    50% {
        opacity: 0;
        transform: scaleX(0.3);
    }

    75% {
        opacity: 0.7;
    }

    100% {
        transform: scaleX(1);
        opacity: 1;
        margin-top: 1rem;
        justify-content: center;
    }
}

.name-scroll {
    animation: disable 0.45s forwards;
}

@keyframes disable {
    0% {
        display: flex;
    }

    100% {
        display: none;
    }
}

.menu-scroll {
    animation: bg-color 0.8s ease-in forwards;
}

@keyframes bg-color {
    50% {
        background-color: none;
    }

    90% {
        gap: 1rem;
        background-color: #ECEFF0;
    }

    100% {
        width: 37rem;
        border-radius: 50px;
        gap: 2rem;
        background-color: #ECEFF0;
    }
}

/* Fin Navbar Active */


/* Début Navbar Reset */
.nav-reset {
    animation: scale-out-horizontal 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes scale-out-horizontal {
    0% {
        margin-top: 1rem;
        justify-content: center;
    }
    49%{
        justify-content: center;
    }
    50% {
        transform: scaleX(0.3);
        opacity: 0;
        justify-content: space-between;
    }

    100% {
        transform: scaleX(1);
        opacity: 1;
    }
}

.menu-reset {
    animation: bg-color-r 0.45s cubic-bezier(0.550, 0.085, 0.680, 0.530) forwards;
}

@keyframes bg-color-r {
    0% {
        width: 37rem;
        border-radius: 50px;
        gap: 2rem;
        background-color: #ECEFF0;
    }

    30% {
        gap: 1rem;
    }

    90%{
        background-color: #ECEFF0;
    }

    100% {
        background-color: none;
    }
}


.name-reset {
    animation: name-r 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes name-r {
    0% {
        display: none;
    }

    59% {
        display: none;
    }

    60% {
        display: flex;
    }

    100% {
        display: flex;
    }
}

/* Fin Navbar Reset */



.test {
    margin-top: 25rem;
    width: 100%;
    display: flex;
    justify-content: center;
}


/* Debut Presentation */

/* Fin Presentation */