/* base CSS */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

:root {
    --beige-bg: #bea378;
    --beige-bg-light: #F3D29E;
    --whitecolor: #f8f9fa;
    --brown-bg: #33312c;
    --brown-bg-light: #5f5948;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    font-family: ChillaxM;
}

h3 {
    letter-spacing: 1.5px;
}

.container {
    display: flex;
    height: 100vh;
    justify-content: center;
}

/* base CSS */




















/* Fonts */
@font-face {
    font-family: Chillax;
    src: url(fonts/Chillax_Complete/Fonts/OTF/Chillax-Regular.otf);
}

@font-face {
    font-family: ChillaxM;
    src: url(fonts/Chillax_Complete/Fonts/OTF/Chillax-Medium.otf);
}

@font-face {
    font-family: ChillaxS;
    src: url(fonts/Chillax_Complete/Fonts/OTF/Chillax-Semibold.otf);
}

@font-face {
    font-family: Bosch;
    src: url(fonts/Bosch-Display-Font/OTF-File/Bosch.otf);
}

/* Fonts */






















/* scrollbar */
/* taille */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* barre */
::-webkit-scrollbar-thumb {
    background: #b9b09a;
    border-radius: 10px;
}

/* scrollbar */




/* Début Navbar */
header {
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    z-index: 1;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
}

.container-menu {
    padding: 0;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    height: 4rem;
    list-style: none;
}

.btn-link-nav {
    font-size: 25px;
    text-decoration: none;
    color: var(--whitecolor);
    letter-spacing: 1px;
}

/* Fin Navbar */













/* Début Navbar Active */
.menu-scroll {
    animation: menu-active 0.3s;
    animation-direction: normal;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes menu-active {
    0% {
        gap: 4rem;
        background-color: transparent;
    }

    50% {
        gap: 4rem;
        background-color: transparent;
    }

    90% {
        margin-top: 3rem;
        border-radius: 50px;
        background-color: var(--beige-bg);
    }

    100% {
        margin-top: 3rem;
        width: 37rem;
        border-radius: 50px;
        gap: 2rem;
        background-color: var(--beige-bg);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
}

/* Fin Navbar Active */






/* Début Navbar Reset */
.menu-reset {
    animation: menu-reset 0.3s;
    animation-direction: normal;
    animation-timing-function: ease-in;
    animation-fill-mode: backwards;
}


@keyframes menu-reset {
    0% {
        margin-top: 3rem;
        width: 37rem;
        border-radius: 50px;
        gap: 2rem;
        background-color: var(--beige-bg);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    30% {
        background-color: transparent;
    }

    50% {
        margin-top: 3rem;
        border-radius: 50px;
        background-color: transparent;
    }

    90% {
        gap: 4rem;
        background-color: transparent;
    }

    100% {

        gap: 4rem;
        background-color: transparent;
    }
}

/* Fin Navbar Reset */







/* Début Home */
.home {
    flex-direction: column;
    color: var(--whitecolor);
    text-align: center;
    background-color: var(--brown-bg);
}

.title-home {
    margin: 0;
    font-size: 100px;
    letter-spacing: 9px;
    font-family: bosch;
}

.home-text {
    margin: 2rem;
    font-size: 70px;
    color: var(--beige-bg);
}

/* Fin Home */





/* Debut Presentation */
.presentation {
    color: var(--whitecolor);
    background-color: var(--brown-bg-light);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13rem;
    overflow: hidden;
}

/* Photo*/
.container-photo {
    height: 500px;
}

.photo {
    width: 300px;
    height: 530px;
    border-radius: 20px;
}

/* Photo*/

/* Text*/
.text {
    height: 530px;
    width: 40rem;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
}

/* Text*/
/* Fin Presentation */


/* Debut Competences */
.competences {
    background-color: var(--brown-bg);
    display: flex;
    align-items: center;
    overflow: hidden;
}

.left-container {
    display: flex;
}

.right-container {
    display: flex;
}

.container-competences {
    margin-top: 9rem;
    display: flex;
    width: 550px;
    height: 700px;
    background-color: var(--brown-bg-light);
}

.techno {
    border-radius: 20px 0 0 20px;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 0px 30px;
    flex-shrink: 0;
    flex-wrap: wrap;
}

.bloc-techno {
    display: flex;
    width: 240px;
    height: 200px;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    flex-shrink: 0;
}

.bloc-techno>h3 {
    margin: 0.5rem;
    text-align: center;
    width: 100%;
    color: var(--beige-bg-light);
    text-shadow: 2px 2px 6px rgba(0,0,0,0.2); 
}

.bloc-techno>p {
    width: 100%;
    letter-spacing: 1px;
    text-align: center;
    color: #FFFFFF;
}










.container-middle {
    display: flex;
    justify-content: space-between;
}

.vertical {
    border-top: 100px solid var(--brown-bg-light);
    border-bottom: 100px solid var(--brown-bg-light);
    width: 3px;
    background-color: var(--brown-bg);
}









.container-hard {
    display: flex;
    width: 440px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    flex-shrink: 0;
}

.bloc-hard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    flex-shrink: 0;
}

.bloc-hard>h3 {
    margin: 0.5rem;
    text-align: center;
    width: 100%;
    color: var(--beige-bg-light);
    text-shadow: 2px 2px 6px rgba(0,0,0,0.2);
}

.bloc-hard>p {
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    /* line-height: 23px; */
}






.soft {
    border-radius: 0 20px 20px 0;
    display: flex;
    width: 550px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    flex-shrink: 0;
}


.container-soft {
    display: flex;
    width: 440px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    flex-shrink: 0;
}

.bloc-soft {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    flex-shrink: 0;
}

.bloc-soft>h3 {
    margin: 0.5rem;
    text-align: center;
    width: 100%;
    color: var(--beige-bg-light);
    text-shadow: 2px 2px 6px rgba(0,0,0,0.2);
}

.bloc-soft>p {
    width: 100%;
    text-align: center;
    color: #FFFFFF;
}

/* Fin Competences */



/* Animation */
.slide-right-hidden {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 1s ease-out;
}

.slide-right-show {
    opacity: 1;
    transform: translateX(0);
}




.slide-left-hidden {
    opacity: 0;
    transform: translateX(100%);
    transition: all 1s ease-out;
}

.slide-left-show {
    opacity: 1;
    transition-delay: 0s;
    transform: translateX(0);
}





.slide-down-hidden {
    opacity: 0;
    transform: translateY(-100%);
    transition: all 1s ease-out;
}

.slide-down-show {
    opacity: 1;
    transform: translateY(0);
}




.scale-center-hidden {
    opacity: 0;
    transform: scaleY(0);
    transition: all 1.25s ease-out;
}


.scale-center-show {
    opacity: 1;
    transform: scaleY(100%);
}






.focus-in-expand {
    animation-name: focus-in-expand;
    animation-duration: 0.8s;
    animation-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
    animation-delay: 0s;
    animation-fill-mode: both;
}

@keyframes focus-in-expand {
    0% {
        letter-spacing: -0.5em;
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        filter: blur(0px);
        opacity: 1;
    }
}

/* Animation */